title = "Genres"
url = "/genres/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Watchlearn\Movies\Models\Genre"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "genre_title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{ attribute(record, displayColumn) }}</h2>

    {% for movie in record.movies %}
        {{ movie.name }}<br>
    {% endfor %}
{% else %}
    {{ notFoundMessage }}
{% endif %}