title = "Filter movies"
url = "/ajax-filter"
layout = "default"
is_hidden = 0

==
<?
    use Watchlearn\Movies\Models\Movie;
    use Watchlearn\Movies\Models\Genre;

    function onStart() { 
        $this->prepareVars(); 
        $this->prepareYears();
    }
    function onFilterMovies() { $this->prepareVars(); }


    function prepareVars() {
        $options = post('Filter', []);

        $this['movies'] = Movie::listFrontEnd($options);
        $this['genres'] = Genre::all();
        $this['sortOptions'] = Movie::$allowedSortingOptions;
        $this['pages'] = $this['movies']->lastPage();
        $this['page'] = $this['movies']->currentPage();
    }

    function prepareYears() {
        $years = Movie->pluck('year');
        
        $this['years'] = array_unique($years);
    }

?>
==
<h2 class="ui header" style="margin-top:40px;">Filter Movies</h2>

<div class="ui grid">
    
    <div class="five wide column">
        {{ form_ajax('onFilterMovies', { update: { 'movies/movies': '#partialMovies', 'movies/paginate': '#partialPaginate' } }) }}
            <div id="MoviesFilter" class="movies-filter ui form">
                <div class="ui segment vertical">
                    <label>Genres</label>
                    {% for genre in genres %}
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="Filter[genres][]" value="{{ genre.id }}" />    
                                <label>{{genre.genre_title}}</label>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="field">
                        <label>Year</label>
                        <select class="ui fluid dropdown" name="Filter[year]">
                            <option value="">Select Year</option>
                            {% for year in years|sort %}
                                <option value="{{year}}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field">
                        <label>Sorting</label>
                        <select class="ui fluid dropdown" name="Filter[sort]">
                            {% for code, option in sortOptions %}
                                <option value="{{code}}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field" id="partialPaginate">
                        {% partial 'movies/paginate' %}
                    </div>
                </div>
            </div>
        {{ form_close() }}
    </div>

    <div class="eleven wide column">
        <div id="partialMovies">
            {% partial 'movies/movies' %}
        </div>
    </div>

</div>
