/* =======================================================================
## ++ Globals
========================================================================== */
html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #566b78;
}

.container{
    max-width: 40em;
    margin:0 auto;
}

*{
    box-sizing:border-box;
}

a {
  color: #e81c4f;
}

/*
|--------------------------------------------------------------------------
| Gallery
|--------------------------------------------------------------------------
*/

.gallery{
    padding:20px 15px;
    background: #efefef;
    border:1px solid #ccc;
    border-radius:3px;
    li{
        float: left;
        margin:5px;
    }

    img, a{
        display: block;
    }
}

/*
|--------------------------------------------------------------------------
| Form
|--------------------------------------------------------------------------
*/

form{
    margin-top: 40px;

    input, textarea{
        width:100%;
        padding:15px;
        border:1px solid #ccc;
        margin-bottom: 40px;
        font-size: 16px;
        color:#444;
    }

    label{
        display: block;
        margin-bottom: 10px;
    }

    textarea{
        height:200px;
    }

    button{
        border:none;
        background: #E41C4E;
        padding:10px 40px;
        color:#fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
    }
}


/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}
.clr{content:"test";}

.flash{
    padding:20px;
    color: #fff;
    display: none;
    
    &.active{
        display: block;
    }
    
    &.error{
        background: red;
    }

    &.success{
        background: green;
    }
}




